<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Berita Harian Online</key>
	<dict>
		<key>Muktahir</key>
		<string>http://www.bharian.com.my/bharian/RSS/rss_html?section=Mutakhir</string>
		<key>Muka Depan</key>
		<string>http://www.bharian.com.my/bharian/RSS/rss_html?section=MukaDepan</string>
	</dict>
	<key>The Star Online</key>
	<dict>
		<key>Sports</key>
		<string>http://thestar.com.my.feedsportal.com/c/33048/f/534557/index.rss</string>
		<key>Business</key>
		<string>http://thestar.com.my.feedsportal.com/c/33048/f/534556/index.rss</string>
		<key>Nation</key>
		<string>http://thestar.com.my.feedsportal.com/c/33048/f/534555/index.rss</string>
	</dict>
</dict>
</plist>
